

figure
{
    margin:auto;
    text-align:center;
    
}
header, footer
{
    background-color: #7c809b; 
    text-align:center;
    width:100%;
    font-family: Tahoma;
}

body
{
    background-color: #B5B1B2;
    width: 60%;
    margin: auto;
}    

h2
{
    text-align:center;
}

main
{
    width: 100%;
    background-color: #A9AFD1;
    
    font-family: Tahoma;
   
}

a
{
    text-decoration:none;
}
nav{
    border: solid 1px;
}

a:hover{ color:aqua};
