

figure
{
    margin:auto;
    text-align:center;
}
figcaption
{
    font-style:italic;
    color: #74b3ce 
}
header, footer
{
    background-color: #74B3CE; 
    text-align:center;
    width:100%;
    font-family: Tahoma;
    color:#172a3A;
    padding: 10px;
}

body
{
    background-color: #508991;
    width: 60%;
    margin: auto;

    color:#09BC8A
}    
h1{
    font-size:30px;
}
h2
{
    text-align:center;
}

main
{
    width: 100%;
    background-color: #004346;
    font-family: Tahoma;
    padding: 15px;
   
}

a
{
    text-decoration:none;
    color: #172A3A;
}
nav{
    border: solid 1px;
    padding: 10px;
    color: #004346;  
    letter-spacing: 5px;
}

a:hover{ color:aqua};
