
html
{
    background-color:#508991;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
figure
{
    margin:auto;
    text-align:center;
}
figcaption
{
    font-style:italic;
    color: midnightblue; 
}
header, footer
{
    background-color: #74B3CE; 
    text-align:center;
    font-family: Tahoma;
    padding: 10px;
}
ul
{
    text-align:left;
    font-family: Georgia;
}
body
{
    background-color: #74B3ce;
    width: 90%;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;

    color:#004346;
}    
h1
{
    text-align: center ;
    font-size:250%;
    color:midnightblue
}
h2
{
    text-align:center;
}
h3
{
    text-align: center;
    font-size: 60px;
}
nav, a
{
    text-decoration:none;
    color: #004346;
}
nav{
    border: solid 1px;
    padding: 10px;
    color: #004346;  
    letter-spacing: 5px;
}

a:hover{ color:aqua}

dt{
    font-weight: bold;
}
table, th, tr, td
{
    border: black solid 2px;
    padding: 10px;
    border-collapse: collapse;
}
table{
    padding: 4px 10px 4px 10px;
    background-color: lightgray;
    font-family: Arial;
    width: 33%;
}
#menu
{
    border: 1px;
    padding: 6px 30px 6px 20px;
    margin-top: 6px;
    margin-bottom: 6px;
    display: inline-block;
    background-color: #B7CCD1;
}
#title
{
    border: 2px black solid;
    text-align: center;
}
#red
{
    background-color: red;
}
#yellow
{
    background-color: yellow;
}
#blue
{
    background-color: blue;
}