figure{
    margin:auto;
    text-align:center;
    font-style: italic;
}
body{
    background-color: rgb(180, 172, 204);
    padding: 80px;
}
header{
    text-align:center;
}
.linktitle{
font-color:blue;
font-size:20;
}