figure{
    margin:auto;
    text-align:center;
    font-style: italic;
}
body{
    background-color: rgb(180, 172, 104);
    padding: 20px;
    width: 60%;
    height: 100vh;
    margin: auto;
    
}
header, h2{
    text-align:center;
}
main{
    width: 100%;
    background-color: brown;
    padding:25px;
}
