<header>
    <h1 id="headtitle">Richy Phongsavath's Rich Pandas | CP-CO-01</h1>
	<nav>
		<a href="https://rphongsavath.gitlab.io/web/personalwebpage/index.html">Home</a>
		 ~ <a href="https://rphongsavath.gitlab.io/web/personalwebpage/introduction.html">Introduction</a>
		 ~ <a href="https://rphongsavath.gitlab.io/web/personalwebpage/contract.html">Contract</a>
		 ~ <a href="https://rphongsavath.gitlab.io/web/personalwebpage/about_us.html">Team</a>
		 ~ <a href="https://rphongsavath.gitlab.io/web/personalwebpage/assignments.html">Assignments</a>
	</nav>
</header>
