<footer>
	<nav>
		<a href="https://github.com/richycpcc">github</a>
        ~ <a href="https://richycpcc.github.io/index.html">github.io</a>
        ~ <a href="https://gitlab.com/rphongsavath">gitlab</a>
        ~ <a href="">gitlab.io</a>
		~ <a href="https://www.freecodecamp.org/rphongsavath">freecodecamp</a>
		~ <a href="https://www.codecademy.com/profiles/rphongsavath_CPCC">Codecademy</a>
        ~ <a href="https://www.linkedin.com/in/richy-phongsavath-a919661b7/">LinkedIn</a>
    </nav>     
        <p><a href="https://richycpcc.github.io/rbplcc/index">Designed by RBP LLC</a></p>
        <p>
            <a href="https://jigsaw.w3.org/css-validator/check/referer">
                <img style="border:0;width:88px;height:31px"
                    src="https://jigsaw.w3.org/css-validator/images/vcss"
                    alt="Valid CSS!" />
            </a>          
            <a href="https://jigsaw.w3.org/css-validator/check/referer">
                <img style="border:0;width:88px;height:31px"
                    src="https://jigsaw.w3.org/css-validator/images/vcss-blue"
                    alt="Valid CSS!" />
            </a>
        </p>
</footer>