<footer>
	<nav>
		<a href="https://github.com/richycpcc">github</a>
        ~ <a href="https://richycpcc.github.io/index.html">github.io</a>
        ~ <a href="https://gitlab.com/rphongsavath">gitlab</a>
        ~ <a href="https://rphongsavath.gitlab.io/richycpcc-github-io/">gitlab.io</a>
		~ <a href="https://www.freecodecamp.org/rphongsavath">freecodecamp</a>
		~ <a href="https://www.codecademy.com/profiles/rphongsavath_CPCC">Codecademy</a>
        ~ <a href="https://www.linkedin.com/in/richy-phongsavath-a919661b7/">LinkedIn</a>
    </nav> 
        <p>
            <a href="https://validator.w3.org/nu/?doc=https%3A%2F%2Frichycpcc.github.io">
                <img style="border:0;width:88px;height:31px"
                    src="images/valid_html5.png"
                    alt="Validate html."
                >
            </a>         
            <a href="https://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Frichycpcc.github.io%2F#css">
                <img style="border:0;width:88px;height:31px"
                    src="images/valid-css.png"
                    alt="Valid CSS!" 
                >
            </a>
        </p>
        <p><a href="https://richycpcc.github.io/rbplcc/index">Designed by RBP LLC</a></p>
</footer>