<header>
    <h1 id="headtitle">Richy Phongsavath's Rich Pandas | CP-CO-01</h1>
	<nav>
		<a href="https://richycpcc.github.io/index.html">Home</a>
		 ~ <a href="https://richycpcc.github.io/introduction.html">Introduction</a>
		 ~ <a href="https://richycpcc.github.io/contract.html">Contract</a>
		 ~ <a href="https://richycpcc.github.io/about_us.html">Team</a>
		 ~ <a href="https://richycpcc.github.io/Template.html">Template</a>
		 ~ <a href="https://richycpcc.github.io/fizzbang.html">FizzBuzz</a>
		 ~ <a href="https://richycpcc.github.io/preassessment.html">Pre-Assessment</a>
		 ~ <a href="https://richycpcc.github.io/colors.html">Colors</a>
		 ~ <a href="https://richycpcc.github.io/brownies.html">Brownies</a>
		 ~ <a href="https://rphongsavath.gitlab.io/richycpcc-github-io/Assignments/js-data-types-template/index.html">Javascript Data Types</a>
	</nav>
    </header>
