<header>
    <h1 id="headtitle">Richy Phongsavath's Rich Pandas | CP-CO-01</h1>
	<nav>
		<a href="https://richycpcc.github.io/mainpage/index.html">Home</a>
		 ~ <a href="https://richycpcc.github.io/mainpage/introduction.html">Introduction</a>
		 ~ <a href="https://richycpcc.github.io/mainpage/contract.html">Contract</a>
		 ~ <a href="https://richycpcc.github.io/mainpage/about_us.html">Team</a>
		 ~ <a href="https://richycpcc.github.io/mainpage/Template.html">Template</a>
		 ~ <a href="https://richycpcc.github.io/mainpage/fizzbang.html">FizzBuzz</a>
	</nav>
    </header>