<header>
	<script>
		const siteLocation = location.origin;
		document.getElementById("linkHome").setAttribute("href",siteLocation + "/web/personalwebpage/" );
		document.getElementById("introduction").setAttribute("href",siteLocation + "/web/personalwebpage/" );
		document.getElementById("contract").setAttribute("href",siteLocation + "/web/personalwebpage/" );
		document.getElementById("about_us").setAttribute("href",siteLocation + "/web/personalwebpage/" );
		document.getElementById("assignments").setAttribute("href",siteLocation + "/web/personalwebpage/" );

	</script>
    <h1 id="headtitle">Richy Phongsavath's Rich Pandas | CP-CO-01</h1>
	<nav>
		<a id="linkHome" >Home</a>
		 ~ <a id="introduction">Introduction</a>
		 ~ <a id="contract">>Contract</a>
		 ~ <a id= "about_us">Team</a>
		 ~ <a id = "assignments">Assignments</a>
	</nav>
</header>
